@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=Poppins:wght@400;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    color: #fff;
    min-height: 100vh;
    background: radial-gradient(at 62.50692980923513% 79.22181609038077%, hsla(320, 82.97872340425535%, 81.56862745098039%, 1) 0%, hsla(320, 82.97872340425535%, 81.56862745098039%, 0) 100%), radial-gradient(at 23.019286452426037% 35.78478958440128%, hsla(283.88888888888886, 45%, 47.05882352941176%, 1) 0%, hsla(283.88888888888886, 45%, 47.05882352941176%, 0) 100%), radial-gradient(at 67.17241814092078% 13.464259050250238%, hsla(325.2475247524753, 91.81818181818184%, 56.86274509803921%, 1) 0%, hsla(325.2475247524753, 91.81818181818184%, 56.86274509803921%, 0) 100%), radial-gradient(at 17.698022547299598% 69.28836901499211%, hsla(320, 82.97872340425535%, 81.56862745098039%, 1) 0%, hsla(320, 82.97872340425535%, 81.56862745098039%, 0) 100%), radial-gradient(at 14.203694380001973% 85.68935392633263%, hsla(283.88888888888886, 45%, 47.05882352941176%, 1) 0%, hsla(283.88888888888886, 45%, 47.05882352941176%, 0) 100%);            
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #0f0908;
}

#main{
    max-width: 36.25rem;
    padding: 1.25rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#identificacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2.5rem 0;
}

#fotoPerfil{
    border: 0.1875rem solid #0f0908;
    border-radius: 50%;
    max-width: 11.25rem;
}

.identificacao_usuario{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin: 0.625rem 0 0 0;
}

#identificacao  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: #0f0908;
}

#verify{
    width: 1.25rem;
    height: 1.25rem;
    fill: #0f0908;
}

#identificacao  h2, #identificacao h3{
    color: #0f0908;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0.9375rem 0 0 0;
    font-size: 1.6rem;
    text-align: center;
}

#identificacao h3{
    font-size: 1.1rem;
    font-weight: 600;
}

#menuLinks{
    margin: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.links{
    padding: 1rem 0.9375rem;
    border: 0.125rem solid #0f0908;
    border-radius: 0.375rem;
    background-color: transparent;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1.875rem;
    color: #0f0908;
}

.links:hover{
    background-color: rgba(255, 255, 255, 0.199);
}

.imagemNome{
    display: flex;
    gap: 0.625rem;
}

.redesocial{
    margin: 0 0 1.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

#iconeInstagram, #iconeFace{
    width: 1.875rem;
}

#linkInstagram, #linkFace{
    transition: .3s;
}

#linkInstagram:hover{
    color: rgb(241, 105, 241);
}

#linkFace:hover{
    color: #0795fa;
}

#rodape{
    font-family: "Roboto", sans-serif;
}

#rodape  h4{
    color: #0f0908;
    font-size: 1rem;
}

#rodape  span{
color: #f34147;
}
